name: GitHub-Profile-Summary-Cards

on:
  create:
  push:
  schedule:
    - cron: "0 0 * * *" # setiap 24 jam
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-cards
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v2
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          THEME: github_dark
        with:
          USERNAME: zerobugteam-zekkk
          
